/* fonts-here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
/*===== VARIABLES CSS =====*/
:root{
    /*===== Colors =====*/
    --theme-color: #A20F74;
    --primary-color: #2E0640;
    --secondary-color: #524748;
    --text-color: #000;
    --heading-color: #351145;

    /* extra color */
    --ex-color-1: #fff;
    --ex-color-2: #000000;
  
    /*===== Font and typography =====*/
    --body-font: 'Montserrat', sans-serif;


    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.313rem;
    --h2-font-size: 2.12rem;
    --h3-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: normal;
    color: var(--text-color);
    line-height: 1.3;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: var(--font-semi-bold);
    line-height: 1.2;
    color: var(--heading-color);
}
p{
    margin: 0 0 15px;
}
a{
    text-decoration: none;
}
  
img{
    max-width: 100%;
    height: auto;
    display: block;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
label {
	color: #9783A0;
	cursor: pointer;
	font-size: 14px;
}

*::-moz-placeholder {
	color: #9783A0;
}

*::placeholder {
	color: #9783A0;
}
.btn {
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	padding: 13px 35px;
	line-height: 1;
	background-image: linear-gradient(to right, #A31074, #A7126E, #C83B89, #C63C7F);
	color: #fff;
	background-size: 300% 100%;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.btn:hover{
    color: #fff;
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn:focus{
    box-shadow: none;
}
.container{
    /* max-width: 1170px; */
}
.bg-defult{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* default css end */


/* css class-- */

/* header-area */
.header-area{
    height: 84px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}
.main-menu ul li {
	padding: 10px 20px;
	position: relative;
}
.main-menu ul li.has-dropdown::after {
	position: absolute;
	right: 0;
	top: 16px;
	content: "\f2ec";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 8px;
	transform: rotate(180deg);
}
.main-menu ul li.has-dropdown.active::after {
	color: var(--theme-color);
}
.main-menu ul li:hover a {
	color: var(--theme-color);
}
.main-menu ul li.has-dropdown:hover::after {
	color: var(--theme-color);
}
.main-menu ul li.active a{
    color: var(--theme-color);
    font-weight: 600;
}
.main-menu ul li a{
    color: var(--ex-color-2);
}
.main-menu ul li > ul.submenu {
    max-width: 228px;
    background: #fff;
    position: absolute;
    top: 110%;
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    box-shadow: 0 -3px 10px rgba(0,0,0, .1);
    border-radius: 10px;
    width: 100%;
    padding: 25px 29px;
    box-sizing: border-box;
    transition: .3s ;
    -webkit-transition: .3s ;
    -moz-transition: .3s ;
    -ms-transition: .3s ;
    -o-transition: .3s ;
}
.main-menu ul li.has-dropdown:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li > ul.submenu > li {
	padding: 10px 0px;
	border-bottom: 1.5px solid #C0C0C0;
}
.main-menu ul li > ul.submenu > li:first-child {
	padding-top: 0px;
}
.main-menu ul li > ul.submenu > li:last-child {
	padding-bottom: 0px;
	border-bottom: 0px solid #C0C0C0;
}
.main-menu ul li > ul.submenu > li > a {
	width: max-content;
	display: block;
    color: #4C4C4C;
}
.main-menu ul li > ul.submenu > li:hover a {
	color: var(--theme-color);
}
.main-menu ul li.arabic-text a{
    color: var(--theme-color);
    font-weight: var(--font-semi-bold);
}
.flug-img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #7B7B7B;
	box-shadow: 0px 0px 5px rgba(0,0,0, .8)inset;
	margin-left: 20px;
}
.flug-img img {
	width: 100%;
}
.balance-personal {
	border: 1px solid #707070;
	padding: 9px 18px;
	border-radius: 10px;
	margin-left: 28px;
}
.menu-right ul li a {
    margin-left: 28px;
    color: var(--ex-color-2);
    display: inline-block;
}
.menu-right::after {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6px;
    height: 80%;
    content: "";
    background: #707070;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* header-area_End */

/* banner-area */
.banner-sldie-active {
    margin-bottom: 99px;
}
.single-banner-sldier img {
	height: 750px;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.banner-sldie-active .owl-nav div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.banner-sldie-active .owl-nav .owl-prev {
    background: rgb(87,21,65);
    background: linear-gradient(90deg, rgba(87,21,65,0.8323530095632002) 0%, rgba(87,21,65,0.19369754737832634) 70%);  
}

.banner-sldie-active .owl-nav .owl-next{
    left: auto;
    right: 0;
    background: rgb(87,21,65);
    background: linear-gradient(270deg, rgba(87,21,65,0.8323530095632002) 0%, rgba(87,21,65,0.19369754737832634) 70%); 
}
.banner-sldie-active .owl-dots div {
	height: 18px;
	width: 18px;
	border: 1px solid #9783A0;
	display: inline-block;
	border-radius: 50%;
	margin: 0px 5px;
}

.banner-sldie-active .owl-dots {
	width: max-content;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -64px;
}
.banner-sldie-active .owl-dots .owl-dot.active {
	background-color: #9783A0;
}
/* banner-area */

/* how works-area */
.how-works-area{
    padding: 70px 0px;
}
.video-area {
	flex: 0 0 auto;
	width: 44%;
	max-width: 331px;
	margin-right: 8%;
}
.how-works-text {
	margin-right: 72px;
}

.btn.learn-more {
	max-width: 200px;
	width: 100%;
}

.video-area img {
	border-radius: 10px;
}
.video-area a {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #fff;
	font-size: 50px;
	transform: translate(-50%, -50%);
}
/* how works-area_End */

/* product-card-area */
.card-main-wrapper{
    padding-top: 84px;
    padding-bottom: 100px;
}

/* card-title-css */
.card-title-area{
    margin-bottom: 30px;
}
.card-title-area h2{
    font-size: var(--biggest-font-size);
    margin-bottom: 0px;
    line-height: 1;
}
.card-title-area span.colored-box {
	height: 36px;
	width: 36px;
	background: rgb(178,26,93);
	background: linear-gradient(180deg, rgba(178,26,93,1) 0%, rgba(224,57,33,1) 100%);
	display: flex;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	margin-right: 19px;
	align-items: center;
	justify-content: center;
}
.card-title-area a {
	font-size: 24px;
	color: var(--theme-color);
	display: block;
	line-height: 1;
	margin-left: 26px;
	margin-top: 4px;
}

/* card-title-css */


/* single-card */
.card-wrapper {
	padding: 15px 22px;
	box-shadow: 0px 0px 10px rgba(0,0,0, .16);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	margin-bottom: 53px;
}
.product-card-header {
	margin-bottom: 11px;
}
.product-card-header h5 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0px;
	line-height: 1.1;
}
.product-id {
	position: absolute;
	left: -22px;
	background: #FFB452;
	height: 28px;
	display: flex;
	align-items: center;
	padding: 0px 20px;
	color: #2E0640;
	font-weight: 600;
	line-height: 1;
	top: 0;
	z-index: 1;
}
.hover-right-items a,
.hover-right-items span{
	background-image: linear-gradient(to right, #A31074, #A7126E, #C83B89, #C63C7F);
	height: 36px;
	width: 36px;
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
    position: relative;
    margin-bottom: 7px;
}
.hover-right-items {
	position: absolute;
	right: 0;
	width: max-content;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.product-card-image {
	min-height: 215px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 13px;
}
.product-card-footer ul li {
	display: flex;
	justify-content: space-between;
	line-height: 1;
	margin-bottom: 9px;
	font-weight: var(--font-semi-bold);
}
.product-card-footer ul li span.list-info{
    color: var(--theme-color);
}
.btn.product-btn-1 {
	margin-top: 8px;
	width: 100%;
    height: 44px;
}
.product-card-image > img{
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.card-wrapper:hover .product-card-image > img {
	transform: scale(1.07);
}
.hover-right-items span:hover .inner-hover{
    opacity: 1;
    visibility: visible;
}

.inner-hover {
    width: 250px;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0, .16);
    z-index: 1;
    transform: translateX(-38%);
    padding: 20px 24px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.inner-hover p {
	margin-bottom: 7px;
}
.inner-hover h6 {
	font-weight: 600;
	margin-bottom: 6px;
	line-height: 1.2;
}
.inner-hover a {
    background: #FFB452;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #2E0640;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.inner-hover a:hover {
	background: #fd9f25;
}
.live-action h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0px;
    color: var(--theme-color);
}
.live-action h3 span{
	margin-left: 10px;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
}
  
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn.light-redbtn {
	width: 100%;
	background-image: none;
	background-color: #FDEFED;
	color: #E03824;
	font-size: 28px;
	line-height: 1;
	padding: 7px 10px;
	margin-top: 5px;
}
.live-action {
	margin-top: 13px;
}
.product-card-price h5 {
	font-size: 18px;
	margin-bottom: 10px;
}
.product-card-price img {
	display: inline-block;
	margin-bottom: 5px;
}
.product-card-price span {
	display: block;
	margin-bottom: 3px;
    font-weight: var(--font-semi-bold);
    color: var(--theme-color);
}
.product-card-price p {
	color: #351145;
	margin-bottom: 5px;
    font-weight: var(--font-semi-bold);
}
.product-card-price h2 {
	margin-bottom: 5px;
	color: var(--theme-color);
}
.card-wrapper.sold-card {
	padding-top: 24px;
}
.sold-product-badge {
	height: 61px;
	font-size: 37px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 495px;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -29px;
	background: rgb(164,15,112);
	background: linear-gradient(180deg, rgba(164,15,112,1) 0%, rgba(184,29,88,1) 100%);
	color: #fff;
	line-height: 1;
	transform: rotate(-23deg);
	z-index: 1;
}

/* single-card */


/* footer-area */
.footer-area{
    padding: 60px 0px;
}

.footer-area .logo-area a img {
	display: inline-block;
	margin-bottom: 28px;
}
.footer-logo-area {
	margin: 0px 40px;
}
.footer-logo-area p {
	color: var(--ex-color-1);
}
.footer-social a {
	height: 34px;
	width: 34px;
	display: inline-block;
	border: 1px solid var(--ex-color-1);
	line-height: 34px;
	color: #fff;
	border-radius: 50%;
	margin: 0px 3px;
	transition: .3s;
}
.footer-social a:hover {
	background: #fff;
	color: #AC1467;
}
.footer-menu h6 {
	font-size: 18px;
	color: var(--ex-color-1);
	font-weight: 600;
	margin-bottom: 10px;
}
.footer-menu ul li a {
	color: var(--ex-color-1);
	display: block;
	padding: 8px 0px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.footer-menu ul li a:hover{
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
}

/* footer-area_End */


/* popup-css */
.popup-1 .modal-dialog {
	max-width: 930px;
}
.popup-1 .modal-dialog .modal-content {
	border: none;
	border-radius: 28px;
	overflow: hidden;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	-ms-border-radius: 28px;
	-o-border-radius: 28px;
}
.welcome-text-wrapper {
	flex: 0 0 auto;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(135deg, #A8126D 0%, #B91E57 100%);
	border-radius: 28px;
}
.popup-form-wrapper {
	padding: 50px 65px;
	flex: 0 0 auto;
	width: 55%;
	padding-left: 85px;
}
.welcome-text-wrap h1 {
	color: var(--ex-color-1);
	font-weight: 700;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--ex-color-1);
	margin-bottom: 23px;
}
.welcome-text-wrap p{
	color: var(--ex-color-1);
	line-height: 1.4;
}
.welcome-text-wrap {
	padding: 0px 45px;
}
.popup-logo img {
	display: inline-block;
	margin-top: 20px;
}
.form-title{
	margin-bottom: 30px;
}
.form-title h2{
	color: var(--theme-color);
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 0px;
}
.form-title h2::after{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 148px;
	height: 4px;
	border-radius: 15px;
	content: "";
	background-color: #B2195F;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.single-form {
	margin-bottom: 12px;
}
.single-form input {
	width: 100%;
	height: 50px;
	border: none;
	border: 1px solid #9783A0;
	border-radius: 50px;
	padding-left: 30px;
	font-size: 16px;
}
.single-form input:focus{
	outline: none;
}
.input-icon {
	position: absolute;
	right: 102%;
	top: 50%;
	display: block;
	transform: translateY(-50%);
	width: max-content;
}

.custom-check-box input{
	display: none;
}
.custom-check-box input:checked ~ label span:after{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "\f00c";
	color: #fff;
	font-size: 12px;
	font-family: "Font Awesome 5 Pro";
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}
.custom-check-box input:checked ~ label span{
	background-color: #A9126C;
	border-color: #A9126C;
}

.custom-check-box label{
	display: flex;
	align-items: center;
	color: #9783A0;
	line-height: 1;
}
.custom-check-box label span{
	height: 18px;
	width: 18px;
	display: block;
	border-radius: 50%;
	margin-right: 10px;
	position: relative;
	border: 1px solid #9783A0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.submit-btn-area{
	margin-top: 35px;
}
.btn.submit-btn {
	width: 177px;
	height: 54px;
	font-size: 18px;
	border-radius: 60px;
}
.custom-check-box {
	margin-top: 14px;
}
.popup-bottom-text {
	text-align: center;
	margin-top: 25px;
}
.popup-bottom-text p {
	margin-bottom: 4px;
	font-size: 18px;
	color: var(--theme-color);
}
.popup-bottom-text p a{
	color: var(--theme-color);
}

/* create-account-popup-css */
.popup-1.popup-sign-in .modal-dialog{
	max-width: 1070px;
}
.first-name {
	flex: 0 0 auto;
	width: 45% !important;
}
.last-name {
	flex: 0 0 auto;
	width: 52% !important;
}


/* otp-popup */
.otp-wrapper form {
	display: flex;
	justify-content: space-around;
	padding: 0px 20px;
}
.otp-wrapper form input{
	flex: 0 0 auto;
	width: 70px;
	height: 78px;
	border: none;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: var(--theme-color);
	border: 1px solid #C6BCCB;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}
.popup-wrapper {
	min-height: 530px;
}
.otp-wrapper form input:focus{
	outline: none;
	box-shadow: 0px 0px 2px var(--theme-color);
}


/* popup-css_End */


/* offcanvas-menu */
.bar {
	font-size: 24px;
	background-image: linear-gradient(to right, #A31074, #A7126E, #C83B89, #C63C7F);
	color: #fff;
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	cursor: pointer;
}
.cross {
	position: absolute;
	right: 20px;
	top: 16px;
	font-size: 19px;
	cursor: pointer;
}
.cross:hover{
	color: rgb(164,15,112)	;
}
.off-menu-top .balance-personal {
	margin-left: 13px;
	font-size: 15px;
	padding: 13px 12px;
	border-radius: 6px;
}

.offcanvas-wrapper {
	height: 100%;
	width: 320px;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	z-index: 1111;
	background: #fff;
	padding: 20px;
	padding-right: 40px;
	padding-top: 60px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
}
.offcanvas-wrapper.active{
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	-o-transform: translateX(0%);
}
.overlay.active{
	background-color: rgba(164,15,112, .2);
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}
.off-menu ul li a {
	color: var(--ex-color-2);
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 8px;
}
.off-menu ul li a:hover {
	color: var(--theme-color);
}
.off-menu ul li.active a {
	color: var(--theme-color);
}
.off-menu ul li {
	position: relative;
}

.off-menu ul li.has-dropdown::after {
	position: absolute;
	right: 0;
	top: 16px;
	content: "\f2ec";
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 8px;
	transform: rotate(180deg);
}
.off-menu ul li.has-dropdown:hover:after {
	color: var(--theme-color);
}
.off-menu ul li.has-dropdown.active:after {
	color: var(--theme-color);
}
.off-menu ul li.has-dropdown ul.submenu > li > a {
	color: var(--ex-color-2);
	font-size: 16px;
}

.off-menu ul li.has-dropdown ul.submenu > li:hover > a {
	color: var(--theme-color)
}
.off-menu ul li.has-dropdown ul.submenu {
	padding-left: 15px;
}



.off-menu ul li.has-dropdown ul.submenu {
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.off-menu ul li.has-dropdown ul.submenu.active {
	min-height: max-content;
	opacity: 1;
	visibility: visible;
	transition: .3s;
	height: 110px;
	overflow-y: scroll;
	scrollbar-width: none;
}
.off-menu-top {
	margin-top: 40px;
}
.off-menu-top ul li a {
	color: var(--ex-color-2);
	font-weight: var(--font-medium);
}




/* offcanvas-menu_End */